*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container{
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    border: 1px solid red;

}

.cuadricula{
    height: calc(100%/16);
    width: calc(100%/16);
    border: 1px solid black;
}
