*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0EDEB;
}

.titulo{
    margin: 28px;
    color: blue;
    font-size: 50px;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

button{
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#btn1:hover{
    background-color: rgb(2, 173, 2);
    color: white;
}

#btn2:hover{
    background-color: red;
    color: white;
}

#container{
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    background-color: white;

}


