*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    margin: 25px;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

button{
    font-size: 20px;
}

#container{
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;

}


